<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="zoidstein_camera">
        <link name="camera_link"/>
        <link name="camera_depth_frame"/>
        <link name="camera_rgb_frame"/>
        <link name="camera_rgb_optical_frame"/>
        <link name="camera_depth_optical_frame"/>

        <joint name="camera_joint" type="fixed">
            <origin xyz="" rpy="" />
            <parent link="" />
            <child link="camera_link" />
        </joint>

        <joint name="camera_depth_joint" type="fixed">
            <origin xyz="0 0.018 0" rpy="0 0 0" />
            <parent link="camera_link" />
            <child link="camera_depth_frame" />
        </joint>

        <joint name="camera_depth_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
            <parent link="camera_depth_frame" />
            <child link="camera_depth_optical_frame" />
        </joint>

        <joint name="camera_rgb_joint" type="fixed">
            <origin xyz="0 -0.005 0" rpy="0 0 0" />
            <parent link="camera_link" />
            <child link="camera_rgb_frame" />
        </joint>

        <joint name="camera_rgb_optical_joint" type="fixed">
            <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}" />
            <parent link="camera_rgb_frame" />
            <child link="camera_rgb_optical_frame" />
        </joint>
    </xacro:macro>
</robot>